@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  align-content: space-around;
  background: #bac9db;
}

.container2{
  display: flex;
  /* margin: 0 auto; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 999px;

}

.top{
  width: 100%;
  height: 65px;
  background: #38405e;
}

p{
  color: rgb(61, 128, 187);
  font-size: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 4px;
}